


<!-- googleapis -->
<script src="https://accounts.google.com/gsi/client" async defer></script>

<script>
    function emailInFetchUsuarios(email){
      let existEmail
      fetch('http://localhost:5000/api/users')
      .then((resp) => resp.json())
      .then(data=>{
        existEmail = data.data.filter(element => {
          return element.email == email
        })
        if(existEmail.length >0 ){
          existEmail = true
          document.cookie = `userEmail=${email}; SameSite=None; Secure`
          //('userEmail', email, { maxAge: (1000 * 60) * 60 * 24 * 10}) //dura 10 dias
          window.location.href = '/'
        }else{
          existEmail = false
          console.log(email)
          document.querySelector('.email').value = email 
          document.querySelector('.errorEmail').innerHTML = 'Este email no se encuentra registrado en nuestra base de datos.'
        }
        //console.log('desde arriba',existEmail)
        //return existEmail
      })
    }

    function parseJwt(token) {
            var base64Url = token.split('.')[1];
            var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
            var jsonPayload = decodeURIComponent(window.atob(base64).split('').map(function (c) {
                return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
            }).join(''));

            return JSON.parse(jsonPayload);
        }
    async function handleCredentialResponse(response) {
      //console.log("Encoded JWT ID token: " + response.credential);
      let userObjet = parseJwt(response.credential)
        //console.log(userObjet.email, userObjet.name, userObjet.picture, userObjet)
        emailInFetchUsuarios(userObjet.email)
        //let existEmail = await (emailInFetchUsuarios(userObjet.email))
        

          //console.log(existEmail)
        
    }
    window.onload = function () {
      google.accounts.id.initialize({
        client_id: "1661949923-ivj66g50o9lbcvndg6n6rhra6laq84kk.apps.googleusercontent.com",
        callback: handleCredentialResponse
      });
      google.accounts.id.renderButton(
        document.getElementById("g_id_onload"),
        { theme: "outline", size: "large" }  // customization attributes
      );
      google.accounts.id.prompt(); // also display the One Tap dialog
    }
</script>
<!-- <div id="buttonDiv"
     data-client_id="1661949923-ivj66g50o9lbcvndg6n6rhra6laq84kk.apps.googleusercontent.com"
     data-context="signin"
     data-login_uri="http://localhost:3000"
     data-itp_support="true">
</div> -->


<div id="g_id_onload"
     data-client_id="1661949923-ivj66g50o9lbcvndg6n6rhra6laq84kk.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="http://localhost:5000"
     data-itp_support="false">
</div>

<!-- <div class="g_id_signin"
     data-type="standard"
     data-shape="pill"
     data-theme="filled_blue"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div> -->