

<div class="card container row col-9  m-auto border-warning text-bg-warning opacity-75 mb-5">
    <div class="card-body border-warning text-bg-warning">
      <h5 class="card-title">¡Bienvenido a Blockbuster!</h5>
      <p class="card-text">Estamos encantados de que hayas decidido visitar nuestra web. Aquí encontrarás una gran variedad de películas para disfrutar. Estamos seguros de que encontrarás algo que te guste. Si tienes alguna pregunta, no dudes en contactarnos. ¡Esperamos que disfrutes tu estancia!</p>
      <p class="card-text"><small class="text-muted">Somos una empresa líder en el alquiler de películas. Ofrecemos una amplia selección de títulos para satisfacer todos los gustos. Nuestra biblioteca incluye títulos de todos los géneros, desde comedia hasta drama, desde acción hasta ciencia ficción. Nuestra misión es ofrecer la mejor experiencia de alquiler de películas a nuestros clientes. Ofrecemos precios competitivos y una amplia selección de títulos para satisfacer todos los gustos. ¡Visítanos hoy para descubrir todo lo que tenemos para ofrecer!</small></p>
    </div>
  </div>