<footer class="main-footer">
    <ul class="left-links">
        <li class="help">Ayuda</li>
        <li class="support">Soporte</li>
    </ul>
    <ul class="middle-links">
        <li class="terms">Política y Privacidad</li>
        <li class="contactus">Contactanos</li>
    </ul>
    <ul class="right-links">
        <li class="followus">Seguinos</li>
        <li>
            <a class="footer-icons" href="#"><i class="fab fa-instagram"></i></a>
            <a class="footer-icons" href="#"><i class="fab fa-twitter"></i></a>
            <a class="footer-icons" href="#"><i class="fab fa-facebook-square"></i></a>
        </li>
    </ul>
</footer>