<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
   
<header class="main-header">
    <div class="top-bar">
        <nav class="left-menu-button">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <ul class="dropdown-menu bg-white">
                  <li><a class="dropdown-item text-primary" href="/users/perfil">Perfil</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item text-primary" href="/products/buscarProductos">Buscar</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item text-primary" href="/products/listadoDeseos">Lista de Deseos</a></li>
                  <li><a class="dropdown-item text-primary" href="/carrito">Carrito</a></li>
                  <li><a class="dropdown-item text-primary" href="/products/misAlquileres">Mis Alquileres</a></li>
                </ul>
              </div>
        </nav>
        <nav class="left-menu">
            <% if(locals.user) { %>
            <ul class="left-options">
                <li><a href="/products/buscarProductos">BUSCAR</a></li>
                <li><a href="/products/listadoDeseos"><i class="fa-solid fa-heart-circle-plus"></i> LISTA DE DESEOS</a></li>
            </ul>
            <% } %>
        </nav>
        <a href="/"><nav class="middle-logo">
            <img src="/images/blockbuster-logo.svg">
        </nav></a>
        <nav class="right-menu-buttons">
            <% if(locals.user) { %>
                <!-- <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                <img class="img-user-nav-bar" src="/images/users/<%= user.image_url %>" alt="image" > -->
            <% } else { %>
                <a href="/login"><i class="fa-solid fa-circle-user"></i></a>
            <% } %>
            <% if(locals.user && user.is_admin == 1) { %>
                <a href="/products/administrarProductos"><i class="fa-solid fa-user-gear"></i></a>
            <% } %>
        </nav>
        <nav class="right-menu">
            <% if(locals.user) { %>
            <ul class="right-options">
                <li><a href="/carrito">CARRITO</a></li>
                <li><a href="/products/misAlquileres">MIS ALQUILERES</a></li>
            </ul>
            <% } else {%>
            <ul class="right-options">
                <li><a href="/register">REGISTRARSE</a></li>
                <li><a href="/login">INICIAR SESIÓN</a></li>
            </ul>
            <% } %>
        </nav> 
        <nav class="user-options">
            <ul>
                <a href="/login">
                    <% if(locals.user) { %>                        
                        <img class="img-user-nav-bar" src="/images/users/<%= user.image_url %>" alt="image" >
                    <% } %>
                </a>
            </ul>      
        </nav> 
        <nav class="admin-options">
            <% if(locals.user && user.is_admin == 1) { %>
            <ul>
                <a href="/products/administrarProductos"><i class="fa-solid fa-user-gear"></i></a>
            </ul>
            <% } %> 
        </nav>
    </div>
</header>