<link rel="stylesheet" href="/css/administrarProductos.css">    

<section class="sectionHeaderAdmin"><nav class="headerAdmin">
    

    <a href="/products/crearNuevoProducto" class="boton-ingresar-pelicula">Ingresar una nueva pelicula</a>
    <a href="/users/listaUsuarios" class="boton-ingresar-pelicula">Listado de usuarios</a>
    <a href="/products/administrarProductos" class="boton-ingresar-pelicula">Listado de peliculas</a>
</nav></section>