<header class="main-header">
    <div class="top-bar">
        <nav class="left-menu-button">
            <i class="fa-solid fa-bars"></i>
        </nav>
        <nav class="left-menu">
            <ul class="left-options">
                <li> <a href="/products/buscarProductos">BUSCAR</a></li>
                <li><a href="/products/listadoDeseos">LISTA DE DESEOS</a></li>
            </ul>
        </nav>
        <a href="/"><nav class="middle-logo">
            <img src="/images/blockbuster-logo.svg">
        </nav></a>
        <nav class="right-menu-buttons">
                <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="/login"><i class="fa-solid fa-circle-user"></i></a>
        </nav>
        <nav class="right-menu">
            <ul class="right-options">
                <a href="/products/administrarProductos"><i class="fa-sharp fa-solid fa-star"></i></a>
                <li><a href="/carrito">CARRITO</a></li>
                <li><a href="/products/misAlquileres">MIS ALQUILERES</a></li>
            </ul>
        </nav> 
        <nav class="user-options">
            <ul>
                <a href="/login"><li><i class="fa-solid fa-circle-user"></i></li></a>
            </ul>      
        </nav> 
    </div>
</header>