<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <title>Carrito</title>
    <link rel="stylesheet" href="/css/styles-carrito2.css">
</head>
<body>
    <%- include('partials/header') %> 
    
    <main class="main-body">
        <article class="product-container">
            <div class="product">
                <div class="product-image">
                    <img src="/images/star-wars.jpg">
                    <i class="fa-solid fa-trash-can"></i>
                </div>
                <i class="fa-solid fa-ellipsis"></i>
            </div>
            <div class="details">
                <h4>Pelicula/Serie</h4>
                <p>Reseña/sinopsis</p>
                <h6>Año y duracion</h6>
            </div>
        </article>

        <article class="middle-menu">
            <form action="/products/misAlquileres" method="GET">
                <div class="creditcard-data">
                    <div class="fullname">
                        <input type="text" name="name" placeholder="Nombre y apellido"  minlength="5">
                    </div>
                    <div class="cardnumber">
                        <input type="text" name="creditcard" placeholder="N° de tarjeta de credito" >
                    </div>
                    <div class="ccv">
                        <input type="password" name="ccv" placeholder="CCV" >
                    </div>
                    <div class="expiration">
                        <input type="text" name="mmaa" placeholder="MM/AA" >
                    </div>
                </div>
                <div class="buttons">
                    <button type="submit" class="btn">Confirmar pago</button>
                </div>
            </form>
        </article>
    </main>

    <%- include('partials/footer') %> 
</body>
</html>
