<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link rel="icon" href="/images/logo-mercado-liebre.svg">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="main-header">
        <div class="top-bar">
            <i class="fa-solid fa-bars"></i>
            <img src="/images/blockbuster-logo.svg">
            <i class="fa-solid fa-cart-shopping"></i>
            <i class="fa-solid fa-circle-user"></i>
        </div>
    </header>
    
    <main class="main-body">
        <div class="product">
            <img src="/images/star-wars.jpg">
            <div class="trash-icon">
                <i class="fa-solid fa-trash-can"></i>
            </div>
        </div>
        <div class="dot-menu">
            <i class="fa-solid fa-ellipsis"></i>
        </div>
        <div class="details">
            <h4>Pelicula/Serie</h4>
            <h4>Reseña/sinopsis</h4>
            <h4>Año y duracion</h4>
        </div>
        <div class="pay-button">
            <button type="submit">Pagar</button>
        </div>
    </main>

    <footer class="main-footer">
        <div class="left-links">
            <h4>Ayuda</h4>
            <h4>Soporte</h4>
        <div class="middle-links">
            <h4>Política y Privacidad</h4>
            <h4>Contactanos</h4>
        </div>
        <div class="right-links">
            <h4>Seguinos</h4>
            <h4>Redes Sociales</h4>
        </div>
    </footer>
</body>
</html>
