<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <title>Carrito</title>
    <link rel="stylesheet" href="/css/styles-carrito.css">
</head>
<body>
    <%- include('partials/header') %> 
    
    <main class="main-body">
        <article class="product-container">
            <div class="product">
                <div class="product-image">
                    <img src="/images/star-wars.jpg">
                    <i class="fa-solid fa-trash-can"></i>
                </div>
                <i class="fa-solid fa-ellipsis"></i>
            </div>
            <div class="details">
                <h4>Pelicula/Serie</h4>
                <p>Reseña/sinopsis</p>
                <h6>Año y duracion</h6>
            </div>
        </article>

        <article class="middle-menu">
            <form action="/carrito2" method="GET">
                <div class="buttons">
                    <button type="submit" class="btn">Pagar</button>
                </div>
            </form>
        </article>
    </main>
    
    <%- include('partials/footer') %> 
</body>
</html>
