<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link rel="icon" href="/images/logo-mercado-liebre.svg">
    <link rel="stylesheet" href="/css/carrito_main.css">
</head>
<body>
    <header class="main-header">
        <div class="top-bar">
            <nav class="left-menu-button">
                <i class="fa-solid fa-bars"></i>
            </nav>
            <nav class="left-menu">
                <ul class="left-options">
                    <li>BUSCAR</li>
                    <li>LISTA DE DESEOS</li>
                </ul>
            </nav>
            <nav class="middle-logo">
                <img src="/images/blockbuster-logo.svg">
            </nav>
            <nav class="right-menu-buttons">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <i class="fa-solid fa-circle-user"></i>
            </nav>
            <nav class="right-menu">
                <ul class="right-options">
                    <li>CARRITO</li>
                    <li>MIS ALQUILERES</li>
                </ul>
            </nav> 
            <nav class="user-options">
                <ul>
                    <li><i class="fa-solid fa-circle-user"></i></li>
                </ul>      
            </nav> 
        </div>
    </header>
    
    <main class="main-body">
        <article class="product-container">
            <div class="product">
                <div class="product-image">
                    <img src="/images/star-wars.jpg">
                    <i class="fa-solid fa-trash-can"></i>
                </div>
                <i class="fa-solid fa-ellipsis"></i>
            </div>
            <div class="details">
                <h4>Pelicula/Serie</h4>
                <p>Reseña/sinopsis</p>
                <h6>Año y duracion</h6>
            </div>
        </article>

        <article class="middle-menu">
            <form action="/carrito2" method="GET">
                <div class="buttons">
                    <button type="submit" class="btn">Pagar</button>
                </div>
            </form>
        </article>
    </main>

    <footer class="main-footer">
        <ul class="left-links">
            <li class="help">Ayuda</li>
            <li class="support">Soporte</li>
        </ul>
        <ul class="middle-links">
            <li class="terms">Política y Privacidad</li>
            <li class="contactus">Contactanos</li>
        </ul>
        <ul class="right-links">
            <li class="followus">Seguinos</li>
            <li>
                <a class="footer-icons" href="#"><i class="fab fa-instagram"></i></a>
                <a class="footer-icons" href="#"><i class="fab fa-twitter"></i></a>
                <a class="footer-icons" href="#"><i class="fab fa-facebook-square"></i></a>
            </li>
        </ul>
    </footer>
</body>
</html>
