<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/styles-home.css">
    <link rel="icon" href="images/blockbuster-logo 1.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- estilo de letra Popins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,800&display=swap" rel="stylesheet">
    <title>home</title>
</head>
<body>
    <%- include('partials/header') %>  

    <main>
        <div class="video">

        </div>
        <p class="titulos">Más Buscados</p>
        <section class="articulos">
            <article class="articulos2">
            <img class="pelis" src="/images/2012.jpg"> 
            <div class="caja"><p class="nombre-peli">2012</p>
            <a href="/productDetail" class="btn-neon">VER MAS</a>
            </div>
            
            </article>

            <article class="articulos2">
                <img class="pelis" src="/images/197.jpg"> 
                <div class="caja"><p class="nombre-peli">1917</p>
                <a href="/productDetail" class="btn-neon">VER MAS</a></div>
                </article>

                <article class="articulos2">
                    <img class="pelis" src="/images/El Guason.jpg"> 
                    <div class="caja"><p class="nombre-peli">El Guason</p>
                    <a href="/productDetail" class="btn-neon">VER MAS</a></div>
                    </article>

                    <article class="articulos2">
                        <img class="pelis" src="/images/LosVengadores.jpg"> 
                        <div class="caja"><p class="nombre-peli">Los Vengadores</p>
                        <a href="/productDetail" class="btn-neon">VER MAS</a></div>
                    </article>

                        <article class="articulos2">
                            <img class="pelis" src="/images/smile.jpg">
                            <div class="caja"><p class="nombre-peli">Smile</p>
                            <a href="/productDetail" class="btn-neon">VER MAS</a></div>
                            </article>
            </section>
            <p class="titulos">Buscá por tus personajes favoritos</p>
            <section class="personajes">

                <article>
                    <a href="/productDetail"><img class="personas" src="images/emiliaclarke.png">
                    <p class="nombres">Emilia Clarke</p></a> 
                    </article> 

                    <article>
                        <a href="/productDetail"><img class="personas" src="/images/robertdowneyjr.png">
                            <p class="nombres">Robert Downey JR</p></a>
                            </article>

                            <article>
                                <a href="/productDetail"><img class="personas" src="/images/galgadot.png">
                                <p class="nombres">Gal Gadot</p></a> 
                                </article>

                                <article>
                                    <a href="/productDetail"><img class="personas" src="/images/sheeldoncooper.png">
                                    <p class="nombres">Jim Parsons</p></a>
                                    </article>
    </section>

    <p class="titulos">Recomendados Para Vos</p>
    <section class="articulos">
        <article class="articulos2">
            <img class="pelis" src="/images/El Guason.jpg"> 
            <div class="caja"><p class="nombre-peli">El Guason</p>
            <a href="/productDetail" class="btn-neon">VER MAS</a></div>
            </article> 

            <article class="articulos2">
                <img class="pelis" src="/images/197.jpg"> 
                <div class="caja"><p class="nombre-peli">1917</p>
                <a href="/productDetail" class="btn-neon">VER MAS</a></div>
                </article>

                <article class="articulos2">
                    <img class="pelis" src="/images/LosVengadores.jpg"> 
                    <div class="caja"><p class="nombre-peli">Los Vengadores</p>
                    <a href="/productDetail" class="btn-neon">VER MAS</a></div>
                    </article>

                    <article class="articulos2">
                        <img class="pelis" src="/images/MaquinasMortales.jpg">
                        <div class="caja"><p class="nombre-peli">Maquinas Mortales</p>
                        <a href="/productDetail" class="btn-neon">VER MAS</a></div>
                        </article>

                        <article class="articulos2">
                            <img class="pelis" src="/images/2012.jpg"> 
                            <div class="caja"><p class="nombre-peli">2012</p>
                            <a href="/productDetail" class="btn-neon">VER MAS</a></div>
                            </article>

                            <article class="articulos2">
                                <img class="pelis" src="/images/smile.jpg"> 
                                <div class="caja"><p class="nombre-peli">Smile</p>
                                <a href="/productDetail" class="btn-neon">VER MAS</a></div>
                                </article>
                    </section>
    </main>

    <section class="frase">
        <div>Historias únicas, estrellas icónicas y mucho más..</div>
    </section>
    
    <%- include('partials/footer') %> 
</body>
</html>