<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
    <link rel="stylesheet" href="css/styles-login.css">
    <link rel="icon" href="images/blockbuster-logo 1.svg">
    <title>BLOCKBUSTER</title>
</head>
<body>
<header>
    <div class="logo" >
   <img class="logo" src="images/blockbuster-logo 1.svg"> 
</div>

   <ul class="lista" type="none"> 
    <li class="lista1"><a class="barra" href="/home">INGRESAR</a></li>
    <li class="lista1"><a class="barra" href="#">REGISTRATE</a></li> 
    </ul>

</header>

  <main class="register">
  <form action="/">
  <h1 class="titulo">INICIA SESIÓN</h1>
  <div class="grupo1">
  <label for="last-name"></label>
  <input class="botones" type="text" placeholder="E-mail" name="last-name" required>
  </div><br>
        
  <div class="grupo2">
  <label for="contraseña"></label>
  <input class="botones" type="text" placeholder="Contraseña" name="contraseña" required>
  </div><br>

  <div class="olvidaste"><a class="barra2" href="#">¿Olvidaste tu contraseña?</a></div><br>
        
  <label class="lista-recordar"><input class="lista-recordar" type="checkbox" name="categorias" value="recordar">Recordarme</label><br>
        
  <a href="/home" class="btn-neon">Ingresar</a>
        
  <div class="cliente"><a class="barra2" href="#">¿No sos cliente?</a></div><br> 

  <a href="#" class="btn-neon">REGISTRATE</a>
</form>
</main>
<section>
    <div class="sector">Donde quieras, cuando quieras</div>
</section>
<footer>
    <ul class="listaA" type="none">
         <li class="lista2"><a class="barra3" href="Ayuda">Ayuda</a></li>
            <li class="lista2"><a class="barra3" href="Soporte">Soporte</a></li>
            <li class="lista2"><a class="barra3" href="Contacto">Contacto</a></li>
            <li class="lista2"><a class="barra3" href="Politicas y Privacidad">Políticas y Privacidad</a></li>
        </ul>
           <ul class="listaB" type="none">
            <li class="lista2">Seguinos</li>
            <li class="lista2"><div class="iconos">
               <a class="iconos" href="#"><i class="fab fa-instagram"></i></a>
               <a class="iconos" href="#"><i class="fab fa-twitter"></i></a>
               <a class="iconos" href="#"><i class="fab fa-facebook-square"></i></a>
            </div>
            </li>
             </ul>
    </footer>
</body>
</html>