<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <title>BLOCKBUSTER not-found</title>
</head>
<body>
    <%- include('partials/header') %> 

    <h1 class="h1-not-found">Page Not Found</h1>

    <div class="navbar fixed-bottom"><%- include('partials/footer') %> </div>  
</body>
</html>