<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto</title>

    <link href="css/detalle-producto.css" rel="stylesheet">    <!-- Vinculo HTML con CSS -->

    <link rel="preconnect" href="https://fonts.googleapis.com">  <!-- Requiero la página de Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>   <!-- Requiero la página de Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet"> <!-- font: Poppins-->

    <script src="https://kit.fontawesome.com/36ddfcbea4.js" crossorigin="anonymous"></script>  <!-- Requiero la página de FontsAwesome-->
    <!-- estilo de letra Popins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="main-header logo">
            <img src="/images/blockbuster-logo.svg" class="logo-header">
        </div>

        <nav class="main-header navegador celular izquierda">
            <a href="#" class="burger-menu">
                <i class="fa-sharp fa-solid fa-bars"></i>  
            </a>
        </nav>

        <nav class="main-header navegador celular derecha">
            <ul>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></i></li>
                <li><a href="#"><i class="fa-solid fa-circle-user"></i></a></li>
            </ul>             
        </nav>
                           
        <nav class="main-header navegador tablet-pc izquierda">
            <ul>
                <li><a href="#"></a>BUSCAR</li>
                <li><a href="#"></a>LISTA DE DESEOS</li>
            </ul>
        </nav>
        <nav class="main-header navegador tablet-pc derecha">
        <ul>
            <li><a href="#"></a>MIS ALQUILERES</li>
            <li><a href="#">CARRITO</a></li>
            <li><a href="#">U</a></li>
        </ul> 
            
        </nav>
    </header>
    <main>
        <section class="xxxx">
            <div class="bloque1">
                <div class="imagen">
                    <img src="/images/LosVengadores.jpg">
                </div>
                <div class="caracteristicas">
                    <p>Idioma</p>
                    <p>duracion</p>
                    <p>año</p>
                    <p>origen</p>
                </div>
            </div>
            <div class="bloque2">
                <h2 class="titulo">
                    Los Vengadores: End Game
                </h2>
                <div class="sinopsis">
                    Cuando un enemigo inesperado surge como una gran amenaza para la seguridad mundial, Nick Fury, director de la Agencia SHIELD, decide reclutar a un equipo para salvar al mundo de un desastre casi seguro. Adaptación del cómic de Marvel "Los Vengadores", el legendario grupo de superhéroes formado por Ironman, Hulk, Thor y el Capitán América entre otros.
                </div>
                <div class="botones">
                    <div class="boton trailer">
                        <a href="#">Ver trailer</a>
                    </div>
                    <div class="boton alquiler">
                        <a href="#">Alquilar/Ver</a>   
                    </div>
                </div>
            </div>
            <div class="bloque3">
                <div class="calificaciones">
                    <ul></a>
                        <li><a href="#">Calificación Blockbuster</a><div class="calificacion">9</div></li>
                        <li><a href="#">Calificación IMDb</a> <div class="calificacion">8</div></li>
                        <li><a href="#">Calificación Rotten Tomatoes </a><div class="calificacion">9,5</div></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>



    </main>
    <footer>
        <nav class="col-footer col1">
            <ul>
                <li><a href="#"></a>Ayuda</li>
                <li><a href="#"></a>Soporte</li>
            </ul>
        </nav>
        <nav class="col-footer col2">
            <ul>
                <li><a href="#"></a>Política y Privacidad</li>
                <li><a href="#"></a>Cantactanos</li>
            </ul>
        </nav>
        <nav class="col-footer col3">
            <p>Seguinos</p>
            <ul class="redes-sociales">
                <li><a href="#"></a><i class="fab fa-instagram"></i></li>
                <li><a href="#"></a><i class="fab fa-twitter"></i></li>
                <li><a href="#"></a><i class="fab fa-facebook-square"></i></li>            
            </ul>
        </nav>
    </footer>
    
</body>
</html>