<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto</title>

    <link href="css/detalle-producto.css" rel="stylesheet">    <!-- Vinculo HTML con CSS -->

    <link rel="preconnect" href="https://fonts.googleapis.com">  <!-- Requiero la página de Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>   <!-- Requiero la página de Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet"> <!-- font: Poppins-->

    <script src="https://kit.fontawesome.com/36ddfcbea4.js" crossorigin="anonymous"></script>  <!-- Requiero la página de FontsAwesome-->

</head>
<body>
    <header>
        <div class="main-header logo">
            <img src="/images/blockbuster-logo.svg" class="logo-header">
        </div>

        <nav class="main-header burger">
            <a href="#" class="burger-menu">
                <i class="fa-sharp fa-solid fa-bars"></i>  
            </a>
        </nav>

        <nav class="main-header navegador">
            <ul class="menu-der celular">
                <li><a href="#"></a>CARRITO</li>
                <li><a href="#"></a>U</li>
            </ul>             
        </nav>
                           
        <nav class="main-header navegador">
            <ul class="nav-izq tablet-pc">
                <li><a href="#"></a>BUSCAR</li>
                <li><a href="#"></a>LISTA DE DESEOS</li>
            </ul>

            <ul class="nav-der tablet-pc">
                <li><a href="#"></a>MIS ALQUILERES</li>
                <li><a href="#"></a>CARRITO</li>
                <li><a href="#"></a>U</li>
            </ul> 
            
        </nav>
    </header>

    <main>
        <div class="contenido">
            Película
        </div>
<h1>contenido</h1>

    </main>
    <footer>
        <nav class="col-footer col1">
            <ul>
                <li><a href="#"></a>Ayuda</li>
                <li><a href="#"></a>Soporte</li>
            </ul>
        </nav>
        <nav class="col-footer col2">
            <ul>
                <li><a href="#"></a>Política y Privacidad</li>
                <li><a href="#"></a>Cantactanos</li>
            </ul>
        </nav>
        <nav class="col-footer col3">
            <p>Seguinos</p>
            <ul class="redes-sociales">
                <li><a href="#"></a>X</li>
                <li><a href="#"></a>X</li>
                <li><a href="#"></a>X</li>            
            </ul>
        </nav>
    </footer>
    
</body>
</html>