<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto</title>

    <link href="css/detalle-producto.css" rel="stylesheet">    <!-- Vinculo HTML con CSS -->

    <link rel="preconnect" href="https://fonts.googleapis.com">  <!-- Requiero la página de Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>   <!-- Requiero la página de Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet"> <!-- font: Poppins-->

    <script src="https://kit.fontawesome.com/36ddfcbea4.js" crossorigin="anonymous"></script>  <!-- Requiero la página de FontsAwesome-->

</head>
<body>
    <header>
        <div class="logo-header">
            <img src="/images/blockbuster-logo.svg" alt="logo-header">
        </div>

        <nav class="celular">
            <a href="#" class="burger-menu">
                <i class="fa-sharp fa-solid fa-bars"></i>  
            </a>
            <ul class="menu-der">
                <li><a href="#"></a>CARRITO</li>
                <li><a href="#"></a>U</li>
            </ul>             
        </nav>
                           
        <nav class="tablet-pc">
            <ul class="nav-izq">
                <li><a href="#"></a>BUSCAR</li>
                <li><a href="#"></a>LISTA DE DESEOS</li>
            </ul>

            <ul class="nav-der">
                <li><a href="#"></a>MIS ALQUILERES</li>
                <li><a href="#"></a>CARRITO</li>
                <li><a href="#"></a>U</li>
            </ul> 
            
        </nav>
    </header>

    <main>

    </main>
    <footer>

    </footer>
    
</body>
</html>