<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOCKBUSTER</title>
    <link rel="icon" href="images/blockbuster-logo 1.svg">
    <!-- iconos -->
    <script src="https://kit.fontawesome.com/fdd9998d29.js" crossorigin="anonymous"></script>
    <!-- estilos de registro -->
    <link rel="stylesheet" href="/css/styles-register.css">
    <!-- estilo de letra Popins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="div-titulo">
            <div>
            <a href="/"><img src="/images/blockbuster-logo.svg" class="logo"></a>
            </div>

            <nav class="menu-derecha">
                <a href="/login"> <h3>Iniciar Sesión</h3> </a>
                <a href="/register"> <h3>Registro</h3></a>
            </nav>
        </div>
    </header>

    <main>
        <!-- <img src="/images/fondo.jpg" alt="imagen-de-fondo"> -->
        <div class="div-registro">
            <h2 class="registrate">Registrate</h2>
        
            <form class="form-registro" action="/" method="GET">
                <article>
                    <label class="label-form" for="nombre">Nombre de Usuario</label> <br>
                    <input type="text" name="usuario" id="usuario" placeholder="Usuario" required>
                    <br><span class="feedback verificador">Minimo 10 caracteres</span>
                </article>
                <article>
                    <label  class="label-form" for="email">Email</label> <br>
                    <input type="email" name="email" id="email"  placeholder="name@blockbuster.com" required>
                    <br><span class="feedback verificador">name@blockbuster.com</span>
                </article>
                <article>
                    <label  class="label-form" for="contrasena">Contraseña</label> <br>
                    <input type="password" name="contrasena" id="contrasena" placeholder="Contraseña" required>
                    <br><span class="feedback verificador">Minimo 6 caracteres</span>
                </article>

                <div class="iconos-foto-google">
                    <div class="div-subir-foto">
                        <p>Subir foto</p>
                        <div class="image-upload">
                            <label for="file-input">
                                <i class="fa-solid fa-user"></i>
                            </label>
                          
                            <input id="file-input" type="file" />
                          </div>
                    </div>

                    <div class="div-google">
                        <img src="/images/logo-google.jpeg" alt="logo-google" class="logo-google">
                        <p>Continuar con Google</p>
                        <!-- <i class="fa-brands fa-google"></i> -->
                    </div>
                </div>
                
                <div class="div-boton-crear-cuenta">
                    <button type="submit" id="crear-cuenta">Crear Cuenta</button>
                </div>
            </form>
            <form action="/login" method="GET">
                <div class="div-ingresar">
                    <label for="ingresar">Ya sos cliente?</label>
                    <button type="submit"  id="ingresar">Ingresar</button>
                </div>
            </form>
            
        </div>

    </main>

    <footer class="main-footer">
        <ul class="left-links">
            <li class="help">Ayuda</li>
            <li class="support">Soporte</li>
        </ul>
        <ul class="middle-links">
            <li class="terms">Política y Privacidad</li>
            <li class="contactus">Contactanos</li>
        </ul>
        <ul class="right-links">
            <li class="followus">Seguinos</li>
            <li>
                <a class="footer-icons" href="#"><i class="fab fa-instagram"></i></a>
                <a class="footer-icons" href="#"><i class="fab fa-twitter"></i></a>
                <a class="footer-icons" href="#"><i class="fab fa-facebook-square"></i></a>
            </li>
        </ul>
    </footer>
    <!-- <footer>
        <nav class="contenido-footer">
            <ul class="nav-footer-izq">
                <li>Ayuda</li>
                <li>Politica y privacidad</li>
                <li>Soporte</li>
                <li>Contactanos</li>
            </ul>
            <ul class="nav-footer-derecha">
                <li>Seguinos</li>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
            </ul>
        </nav>
    </footer> -->
</body>

</html>