
main{
    background: rgba(31,68,137,0.8);
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 1cm;
}

.titulo{
    color: white;
    text-align: center;
    margin: 40px auto;
}

.boton-ingresar-pelicula{
    display: block;
    font-size: 20px;
    text-align: center;
    border: white solid 2px;
    border-radius: 10px;
    padding: 10px;
    margin: 50px auto;
    width: fit-content;
    transition: 500ms ease-in-out 0s; 
}

.boton-ingresar-pelicula:hover{
    text-decoration: none;
    color: orange;
    border: orange solid 2px;
    transform: scale(1.05);
    transition: 500ms;
}

.inputBuscar{
    text-align: center;
    border: white solid 2px;
    border-radius: 10px;
    padding: 10px;
    margin:  auto;
    width: 60%;
    color: white;
    background: #000;
    cursor: pointer;
    margin-top: 10px;
    transition: 500ms ease-in-out 0s;
}
.inputBuscar:hover {
    color: orange;
    border: orange solid 2px;
    transition: 500ms;
    transform: scale(1.05);
}

.inputBuscador{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: solid 2px blue;
}

.form-filtrar-productos{
    border-top: solid 2px white;
    border-right: solid 2px white;
    border-left: solid 2px white;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}


.articuloEnFila{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 2px solid brown;
    border-radius: 20px;
    width: 80%;
    margin: 10px auto ;

}

.articuloEnFila a {
    text-decoration: none;
}

.img-pelicula{
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 20px;
}
.label-edicion{
    color: white;
    height: 1cm;
}
.input-edicion{
    height: 1cm;
    margin: 3px 10px;
    border-radius: 5px;
}

.botonFormBusc{
    height: 1cm;
    width: 3cm;
    text-align: center;
    text-decoration: none;
    border: solid black 2px;
    border-radius: 10px;
    padding: 7px ;
    margin: 10px;
    background: #000;
    color: white;
    cursor: pointer;
    transition: 100ms ease-in-out 0s; 
}
.botonFormBusc:hover{
    color: orange;
    text-decoration:solid;
    transform: scale(1.02);
    transition: 100ms;
}

.botonFormDelete{
    height: 1cm;
    width: 3cm;
    text-align: center;
    text-decoration: none;
    border: solid black 2px;
    border-radius: 10px;
    padding: 7px ;
    margin: 10px;
    background: #000;
    color: white;
    cursor: pointer;
    transition: 100ms ease-in-out 0s; 
}

.botonFormDelete:hover{
    color:red;    
    text-decoration:solid;
    transform: scale(1.02);
    transition: 100ms;
}

.section-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid rgb(252,193,57);
    border-radius: 20px;
    width:max-content;
    margin: 10px auto ;
    background: rgba(241, 243, 245, 0.8);
}

.tituloPeli{
    font-size: 15px;
    color: white;
}
.texto{
    color: black;
    text-align: center;
    
}

h2.texto{
    font-size: 26px;
}

.trailer{
    border-radius: 20px;
    width:250px ;
    height: 150px;
    margin: 10px;
}
.div-img-video{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.div-botones{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.iconos-nav i{
    color: white;
    border: solid white 2px;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}

iframe.trailer {
    width: 220px;
    height: 150px;
}

@media (max-width: 500px) {

    .inputBuscar {
        width: 150px;
    }

}