/* /products/administrarProductos */
main{
    background: rgba(31,68,137,0.8);
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 1cm;
}

.titulo{
    color: white;
    text-align: center;
    margin: 40px auto;
}

.boton-ingresar-pelicula{
    display: block;
    font-size: 20px;
    text-align: center;
    border: white solid 2px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px auto;
    width: fit-content;
    height: fit-content;
    transition: 500ms ease-in-out 0s; 
}

.boton-ingresar-pelicula:hover{
    text-decoration: none;
    color: orange;
    border: orange solid 2px;
    transform: scale(1.05);
    transition: 500ms;
}

.inputBuscar{
    text-align: center;
    border: white solid 2px;
    border-radius: 10px;
    padding: 10px;
    margin:  auto;
    width: 60%;
    color: white;
    background: #000;
    cursor: pointer;
    margin-top: 10px;
    transition: 500ms ease-in-out 0s;
}
.inputBuscar:hover {
    color: orange;
    border: orange solid 2px;
    transition: 500ms;
    transform: scale(1.05);
}

.inputBuscador{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: solid 2px blue;
}

.form-filtrar-productos{
    border-top: solid 1.5px rgb(252,193,57);
    border-right: solid 1px rgb(252,193,57);
    border-left: solid 1px rgb(252,193,57);
    border-radius: 25px;
    text-align: center;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}


.articuloEnFila{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 2px solid brown;
    border-radius: 20px;
    width: 80%;
    margin: 10px auto ;

}

.articuloEnFila a {
    text-decoration: none;
}

.img-pelicula{
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 20px;
}
.label-edicion{
    color: white;
    height: 1cm;
}
.input-edicion{
    height: 1cm;
    margin: 3px 10px;
    border-radius: 5px;
}

.botonFormBusc{
    height: 1cm;
    width: 3cm;
    text-align: center;
    text-decoration: none;
    border: solid black 2px;
    border-radius: 10px;
    padding: 7px ;
    margin: 10px;
    background: #000;
    color: white;
    cursor: pointer;
    transition: 100ms ease-in-out 0s; 
}
.botonFormBusc:hover{
    color: orange;
    text-decoration:solid;
    transform: scale(1.02);
    transition: 100ms;
}

.botonFormDelete{
    height: 1cm;
    width: 3cm;
    text-align: center;
    text-decoration: none;
    border: solid black 2px;
    border-radius: 10px;
    padding: 7px ;
    margin: 10px;
    background: #000;
    color: white;
    cursor: pointer;
    transition: 100ms ease-in-out 0s; 
}

.botonFormDelete:hover{
    color:red;    
    text-decoration:solid;
    transform: scale(1.02);
    transition: 100ms;
}

.section-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: space-around;
    grid-gap: 20px;
    width: 100%;
    margin: auto;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
} 

.card{
    align-items: center;
    text-align: center;
    border: 2px solid rgb(252,193,57);
    border-radius: 20px;
    width: 250px;
    margin: 10px auto ;
    background: rgba(195, 180, 180, 0.3);
    transition: 100ms ease-in-out 0s;
}

.card:hover {
    transform: scale(1.05);
    transition: 100ms;
}

.tituloPeli{
    font-size: 10px;
    color: white;
}
.texto{
    color: black;
    text-align: center;
    
}

h2.texto{
    font-size: 16px;
    height: 25px;
    color: rgb(218, 203, 203);
}

.trailer{
    border-radius: 20px;
    width:250px ;
    height: 150px;
    margin: 10px;
}
.div-img-video{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.div-botones{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* .iconos-nav i{
    color: white;
    border: solid white 2px;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 100ms ease-in-out 0s; 
} */
.iconos-nav li{
    color: white;
    border: solid white 2px;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 100ms ease-in-out 0s; 
    display: inline-block;
}
.iconos-nav i{
    color: white;

    background:none;
    cursor: pointer;
}
.iconos-nav .boton{
    background: none;
    border: 0;
    background-color: none;
}

.agregarAlCarrito:hover {
    color:#8ac926;   
    border: solid #8ac926 2px; 
    text-decoration:solid;
    transform: scale(1.1);
    transition: 100ms;
} 

.QuitarDeMisDeseos:hover {
    color:red;   
    border: solid red 2px; 
    text-decoration:solid;
    transform: scale(1.1);
    transition: 100ms;
}

iframe.trailer {
    width: 220px;
    height: 150px;
}

/* headerAdmin */
.sectionHeaderAdmin{
    width: 100%;
    background-color:rgba(1, 35, 83, 0.87);
    border: 1px solid white;
    border-radius: 10px;
    color: white;
}

.headerAdmin{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 500px) {

    .inputBuscar {
        width: 150px;
    }

}