.section-card{
    display: flex;
    justify-content: space-around;
    width: 90%;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.card{
    width: 6cm;
    height: 15cm;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background: rgba(195, 180, 180, 0.3);
}

.img-pelicula{
    width: 100%;
    max-height: 10cm;
    border-radius: 10px;

}

.tituloPeli, .texto, .botonVer{
    color: white;
    background: #000;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
}

.input-buscador{
    border-radius: 10px;
    width: 70%;
    height: 1.5cm;
    padding: 10px;
}
.botonBuscar{
    width: 2cm;
    height: 1.2cm;
    background: white;
    color: black;
    border: solid 5px green;
    border-radius: 10px;
    padding: auto;
    text-align: center;
}