:root {
    --yellow: #FCC139;
    --light-blue: #1F4489;
    --dark-blue: rgba(1, 35, 83, 0.87);
    --base-font-family: 'Poppins'
}

*{box-sizing: border-box;
}

/*BODY*/

body{
    background-color: var(--dark-blue);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*HEADER*/

/* header{
    background-color: var(--light-blue); 
    width: 100%;
    height: 16vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

} */



.main-header .burger-menu{
    background-color: var(--dark-blue);
    color: white;
    display: block;  /*Si no uso display:block o inlineblock, no salen bien las propiedades del boton hamburguesa*/
    font-size: 20px;
    text-align: center;
    width: 60px;
    max-width: 10vw;
    height: 48px;
    padding: 5px;
    border-radius: 4px;
    margin: auto;
    }


.main-header.tablet-pc{
    display: none;
}

.main-header{
        /*border: solid 1px red;*/
        text-align: center;
        color: white;
    }


.main-header.navegador ul{
    padding: 0;
    }

.main-header.navegador li{
    list-style: none;   
    margin: 0 8px;          
    padding: 0;
}


.main-header.navegador ul a{
    text-decoration: none;          
    padding: 0;
    color: white;

}


.main-header.logo{
    height: 50%;

    }

.main-header.logo img{
    height: 100%;
    max-width: 60vw;
    }




.logo{
    order: 2;
}

.navegador.izquierda{
    order: 1;
}

.navegador.derecha{
    order: 3;
}


/*MAIN*/


.titulo{
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}

.xxxx{
    display: flex;
    flex-wrap: wrap;

} 


.bloque1{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    /* background-color: lightcoral; */
    padding: 10px;
}
.bloque1 .div-imagen{

    text-align: center;
    margin: auto;
}

.imagen{
    width: 300px;
    margin: 10px;

}

.bloque1 img{
    max-height: 800px;
    max-width: 100%;

}

.bloque1 .caracteristicas{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
   /* border: solid 1px greenyellow;*/

    max-width: 350px;
    font-size: 15px;
    /* background-color: aquamarine; */
    color: white;
    text-decoration: underline;
    text-decoration-color: var(--yellow);
}

.bloque2{
    width: 90%;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    color: white;
    text-align: justify;
    /* background-color: lightgrey; */
    max-width: 100%;
}

.bloque2 h2{
    text-decoration: underline;
    text-decoration-color: var(--yellow);
    text-align: left;
}


.bloque2 .sinopsis{
    font-size: 18px;
    text-align: center;
}

.bloque2 .botones {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   /* border: solid 1px greenyellow;*/
    max-width: 100%;
    height: 50px;
    margin: 20px;
}

.bloque2 .boton{
    background-color: var(--yellow);
    height: 100%;
    width: 100px;
    max-width: 40%;
    border-radius: 8px;
    text-align: center;
    line-height: 50px
}
.bloque2 .botones a{
    height: 100%;
    margin:auto;
    text-decoration: none;
    font-weight: bold;
    color:black;
    font-size: 14px;  
}
.trailer{
    width: 100%;
    height: 350px;
    margin: 25px auto;
    border-radius: 20px;
    border: solid 5px white;
}

.bloque3{
    width: 90%;
    padding: 10px;
    /* background-color: rgba(255, 0, 0, 0.2); */
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

.calificaciones ul{
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--yellow);
}

.calificaciones li{
    margin: 20px 0;
    display: block;
    text-align: center;
}

.calificaciones a{
    text-decoration: none;
    color: var(--yellow);
}

.calificaciones .calificacion{
    width: 36px;
    height: 36px;
    line-height: 36px;
    color: white;
    text-align: center;
    border-radius: 18px;
    border: solid 2px var(--yellow);
    margin: 5px auto;
}





/*FOOTER*/

/* footer{
    background-color: var(--yellow);
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;

} */

/* .col-footer{
    display: flex;
    flex-direction: column;
    /*border: solid 1px red;
    color: var(--light-blue);
    height: 100%;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    padding: 15px;
    font-size: 3.5vw;



}

.col-footer ul{
    list-style: none;
    margin: 0;
    padding: 0;    
}

.col3 .redes-sociales{
    display: flex;
    justify-content: space-evenly;
} */


/* MEDIA QUIERIES */



@media (min-width: 486px){
    .bloque1, .bloque2, .bloque3 {
        max-width: 50%;
    }

    .col-footer{
        font-size: 14px;
    }

    .main-header.navegador ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }
}

@media (min-width: 789px){
    .bloque1, .bloque2, .bloque3 {
        max-width: 33%;
    }

    .navegador.celular{
        display: none;
    }

    .navegador.tablet-pc{
        display: block;
    }
}

