*{
    font-family: 'Poppins', sans-serif;

}

body{
    background-image: url('/images/fondo.jpg');
    margin: 0px;padding: 0%;
}

/* header */
a{
    color: none;
    text-decoration: none;
}
header{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
}
.div-titulo{
    background: #1F4489;
    height: 3cm;
    border-radius: 0 0 1cm 1cm;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.logo{
    /* padding-top: 20px; */
    width: 250px;
    animation: agrandar 0.5s linear  infinite alternate ;
}
.logo:hover{
    border: solid 2px #FCC139;
    transform: scale(1.08);
    transition: 0.3s;
    animation-direction: alternate-reverse;
}
@keyframes agrandar {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}
.menu-derecha{
    display: flex;
    justify-content: space-around;
}
.menu-derecha h3:hover{
    transform: scale(1.1);
    transition: all 0.5s;
    border: solid 2px #FCC139;

}
.menu-derecha h3{
    padding: 0 10px;
    color: #FCC139;
    margin: 0%;
}



/* main */
.div-login{

    background: #696464;
    max-width: 425px;
    border-radius: 20px;
    margin: 4cm auto;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    /* display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap; */
    position: relative;
}
.iniciar-secion{
    padding-top: 30px;
    font-size: 25px;
    color: white;
    text-align: center;
}
.input-text input{
    background: black;
    padding: 10px;
    border-radius: 10px;
    color: white;
    /* text-align: center; */
    width: 5cm;
}
.input-text{
    margin: 15px;
    text-align: center;
    padding: 8px;
}
.form-login label{
    color: white;
    text-align: left;
}
.verificador,.feedback{
    color: orange;
    opacity: 1;
    margin-bottom: 20px;
    position: absolute;
    left: 25%;
    padding-bottom: 1cm;
}
.iconos-foto-google{
    display: flex;
    justify-content: space-around;
}
.iconos-foto-google p{
    margin: 0;
    color: white;
}
.div-subir-foto{
padding: 10px;
text-align: center;

}
/* .boton-subir-foto{
    height: 1cm;
    width: 1cm;
    background: none;
    color: none;
    position: relative;
    bottom: 1.3cm;
} */

.image-upload>input {
    display: none;
  }

.fa-user{
    position: relative;
    z-index: 10;
    color: white;
    padding: 8px;
    border: white solid 2px;
    border-radius: 1cm;
    font-size: 25px;
    opacity: 0.5;
}
.div-google{
    padding: 10px;
    text-align: center;

}
.fa-google{
    padding: 8px;
    border: white solid 2px;
    border-radius: 1cm;
    font-size: 25px;
    color: white;
    opacity: 0.5;
}

.label-form{
    position: absolute;
    left: 20%;
}

#crear-cuenta{
    color: white;
    background: #000;
    padding: 10px;
    font-size: 30px;
    border-radius: 1cm;
    border: #1F4489 3px solid;

}
.div-boton-crear-cuenta{
    text-align: center;
}
.div-ingresar{
    text-align: center;
}

#ingresar{
    color: white;
    background: #000;
    padding: 5px;
    margin: 10px;
    font-size: 20px;
    border-radius: 1cm;
    border: #1F4489 3px solid;
}

.article-recordarme{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.article-recordarme input{

}




/* footer */
footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
footer nav{
    background: #1F4489;
    color: #FCC139;
    display: flex;
    justify-content: space-around;

}
.nav-footer-izq{
    display: flex;
    flex-wrap: wrap;
    margin: 0%;
    padding: 0;
    align-items: center;
    justify-content: center;
}
.nav-footer-izq li:hover{
    font-size: 25px;
}
.nav-footer-derecha{
    display: flex;
    margin: 0;
    padding: 0;
}
.nav-footer-derecha li{
    padding: 10px;
    
}
.nav-footer-derecha i:hover{
    font-size: 20px;
}
li{
    list-style:none;
    padding: 5px;
    margin: auto;
}
footer nav i{
    padding: 3px;
    margin: auto;
}



/* tablet */
@media (min:425px) {
    
}

/* Escritorio */
@media (min:1023px) {
    
}