:root{
    --yellow: rgba(252, 193, 57, 1);
    --light-blue: rgba(31, 68, 137, 1);
    --light-gray: rgba(105, 100, 100, 0.59);
    --light-black: rgba(15, 14, 14, 0.88);
    --dark-blue: rgba(3, 6, 67, 1);
    --white: rgba(255, 255, 255, 1);
    --base-font-family: 'Roboto', sans-serif;

}


body{
    background-color: white;
    background-image: url("/images/fondo.jpg.jpg");
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
<<<<<<< HEAD
    width: 100%;
=======
    margin: auto;
>>>>>>> edc2e016d2b5dc3fb0f78f5d7fcfe91a5334e649
}

main{
    background-color: rgba(3, 4, 26, 0.6);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
<<<<<<< HEAD
    width: 100%;
}

header{
    background-color: var(--dark-blue);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
=======
    margin-top: 120px;
}

>>>>>>> edc2e016d2b5dc3fb0f78f5d7fcfe91a5334e649

footer{
    background-color: var(--yellow);
    margin-bottom: 0%;
    width: 100%;
    
}

/*header*/
<<<<<<< HEAD
.logo{
    width: 30vw; 
}
.iconos1 i{
    color: var(--yellow);
    font-size: 2vw;
    padding: 1vw;
=======
.iconos1{
    color: var(--yellow);
    font-size: 30px;
    padding:15px
 
}
.iconos2{
    color: var(--yellow);
    font-size: 30px;
    padding:15px;
    
    
}
.container-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    background-color: var(--dark-blue);
    z-index: 10;
}
.div-logo{
    margin: 100;
    padding: auto;
}
.div-iconos-header{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.logo{
    text-align: center;
    margin: auto;
    padding: auto;
>>>>>>> edc2e016d2b5dc3fb0f78f5d7fcfe91a5334e649
}


 /*main*/

 .titulos{
    text-align: left;
    padding: 2vw;
    font-size: 2vw;
    color: var(--white);
    font-weight: 600;
    margin-left: 2vw
    
    }

 .pelis{
    width: 60%;
    height: 70%;
    border-radius: 5%;
    box-shadow: 7px 7px 7px 7px rgba(11, 7, 7, 0.59); ;
 }

.nombre-peli{
    font-size: 1vw;
    color: var(--light-gray);
    font-weight: 600;
    text-align: center;

}
<<<<<<< HEAD
=======
 /* .ver-mas{
   font-size: 18px;
   color: var(--white);
   font-weight: 500;
   background-color: var(--light-gray) ;
   border-radius: 10px;
   text-align: center;
   border: none;
   width: 125px;
   height: 50px;
 } */
>>>>>>> edc2e016d2b5dc3fb0f78f5d7fcfe91a5334e649

 .btn-neon{
    position: relative;
    display: inline-block;
    padding: 4% 6%;
    color: white;
    font-size: 150%;
    text-decoration: none;
    transition: 0.2s;
    background-color: black;
    border-radius: 10px;
}

.btn-neon:hover{
    background-color: var(--yellow);
    box-shadow: 0 0 10px #FCC139, 0 0 40px #FCC139, 0 0 80px #FCC139;
}

 .caja{
    text-align: center;
 }
 .articulos{
    display: flex;
    justify-content: space-around;
<<<<<<< HEAD
    padding-bottom: 5%;
    
=======
    flex-wrap: wrap;
    padding-bottom: 50px;
>>>>>>> edc2e016d2b5dc3fb0f78f5d7fcfe91a5334e649
 }
 .articulos2{
    width: 30%;
    text-align: center;
  }

 .personajes{
    display: flex;
    justify-content: space-around;
<<<<<<< HEAD
    padding-bottom: 5%;
=======
    flex-wrap: wrap;
    padding-bottom: 50px;
>>>>>>> edc2e016d2b5dc3fb0f78f5d7fcfe91a5334e649
 }
 .personas{
    width: 15vw;
    height: 33vh;
   border-radius: 50%;
 }
.nombres{
    color: white;
    text-align: center;
    font-size: 1vw;
    font-weight: 500;
}

<<<<<<< HEAD


=======
 .articulos2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 50px;
 }
/* articulos */
section article{
    padding: 10px;
}
>>>>>>> edc2e016d2b5dc3fb0f78f5d7fcfe91a5334e649
 /*section*/
 .frase{
<<<<<<< HEAD
    width: 100vw;
    height: 20vh;
=======
    width: 100%;
    height: auto;
>>>>>>> edc2e016d2b5dc3fb0f78f5d7fcfe91a5334e649
    color: white;
    font-size: 4vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:  rgba(3, 6, 67, 0.49);
<<<<<<< HEAD
    padding-top: 3vh;
=======
>>>>>>> edc2e016d2b5dc3fb0f78f5d7fcfe91a5334e649
 }
.frase div{
    padding: 50px 30px ;
}


/*footer*/
.container-footer{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.listaA{  /* llamo al bloque de la lista*/
    display: inline-block;
    text-align: left;
    font-size: 160%;
   font-weight: 700;
   padding: 0%;
}
.listaB{   /* llamo al bloque de la lista*/
    display: inline-block;
    text-align: right;
<<<<<<< HEAD
    font-size: 180%;
    margin-left: 43%;
=======
    font-size: 25px;
>>>>>>> edc2e016d2b5dc3fb0f78f5d7fcfe91a5334e649
    font-weight: 700;
    padding: 0%;
    
}
.lista2{   /* llamo a los elementos de la lista*/
    display: inline-block;
<<<<<<< HEAD
    color: var(--light-blue);
    
=======
    color: var(--light-blue);    
>>>>>>> edc2e016d2b5dc3fb0f78f5d7fcfe91a5334e649
}
.barra3{     /* modifico los links de la lista*/
    text-decoration: none;
    color: var(--light-blue);
}
.iconos{  /* modifico los links de la lista de iconos*/
    display: inline-block;
    color: var(--light-blue);
   
}

.iconos i{   /* modifico el icono en si*/
<<<<<<< HEAD
    font-size: 2vw;
=======
    font-size: 30px;
    padding: 3px;
>>>>>>> edc2e016d2b5dc3fb0f78f5d7fcfe91a5334e649
    
}

