* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* = = = = = HEADER = = = = = */

li {
    list-style: none;
}

.top-bar {
    display: flex;
    height: 76px;
    width: 100%;
    padding-left: 25px;
    padding-right: 15px;
    background-color: rgba(31,68,137,1);
    justify-content: space-evenly;
    align-items: center; 
}

.top-bar i{
    color:azure;
    font-size: 5vw;
}

.middle-logo {
    padding-left: 10px;
}

.middle-logo img{
    width: 50vw;
    max-height: 50px;
}

.left-menu {
    display: none;
}

.right-menu {
    display: none;
}

.user-options {
    display: none;
}

.right-menu-buttons i{
    padding-right: 10px;
}

/* = = = = = MAIN BODY = = = = = */

.main-body {
    margin: 0 auto;
    width: 100%;
    background-color: rgba(1,35,83,0.87);
}

.product-container {
    display: block;
    width:50%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.product-image .fa-trash-can{
    position: absolute;
    color: rgba(255,255,255,.3);
    font-size: 5vw;
    right: 15px;
    bottom: 15px;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
}

.product .fa-ellipsis{
    display: block;
    text-align: center;
    font-size: 7vw;
}

.product-image {
    position: relative;
    width: 60%;
    margin: auto;
}

.product-image img{
    display: block;
    width: 100%;
    padding-top: 15px;  
    margin: auto;
}

.details h4{
    color:azure;
    font-size: 14px;
    font-weight: 600;
}

.details p{
    color:azure;
    font-weight: 300;
    font-size: 12px;
    margin: 0 0 0 0;
}

.details h6{
    color:azure;
    font-size: 12px;
    font-weight: 300;
}

.middle-menu .pay-button {
    display: block;
    text-align: center;
    padding-top: 30px;

}

/* = = = = = FOOTER = = = = = */

.main-footer {
    display: flex;
    justify-content: space-evenly;
    height: 70px;
    width: 100%;
    color: rgb(3,6,67);
    font-weight: 600;
    background-color: rgb(252,193,57);
    align-items: baseline;
}

.main-footer li {
    padding-top:5px;
    list-style: none;
    font-size: 14px;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
}

.footer-icons{
    color: inherit;
    padding-right: 5px;
    font-size:16px;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

.buttons {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 60px;
}

.btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 603;
    font-size: 14px;
    color: #fff;
    background-color: #3d3a3a;
    padding: 10px 30px;
    border: solid #000000 1.5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 14px;
    transition : 1000ms;
    transform: translateY(0);
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.btn:hover {
    transition : 1000ms;
    padding: 10px 50px;
    transform : translateY(-0px);
    background-color: #fff;
    color: #0066cc;
    border: solid 1.5px #0066cc;
}


/* = = = = = MEDIA QUERIES = = = = = */

@media (min-width: 500px) {

    .top-bar i{
        color:azure;
        font-size: 28px;
    }  

    .main-footer {
        position: relative;
        justify-content:left;
        align-items: baseline;
    }

    .right-links {
        position: absolute;
        right: 30px;
    }

    .help {
        margin-left: 30px;
    }
    
    .support {
        margin-left: 30px;
    }

    .terms ,.contactus {
        margin-left: 40px;
    }
    
    .followus {
        padding-right: 10px;
    }

}


@media (min-width: 769px) {

    .middle-logo img{
        width: 30vw;
    }

    .left-menu-button{
        display: none;
    }

    .right-menu-buttons{
        display: none;
    }

    .left-menu{
        display: flex;
    }

    .right-menu{
        display: flex;
    }

    .user-options {
        display: flex;
    }

    .left-menu li{
        padding-top:10px;
        color:azure;
        font-weight: 400;
        list-style: none;
        font-size: 16px;
        filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    }

    .right-menu li{
        padding-top:10px;
        padding-left:10px;
        color:azure;
        font-weight: 400;
        list-style: none;
        font-size: 16px;
        filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    } 

    .user-options li {
        align-items: center;
    }

    .main-footer li {
        font-size: 16px;
    }
}

@media (min-width: 900px) {

    ul > li {
        display: inline-block;
    }

    .left-menu li {
        padding-left: 15px;
        margin: 5px;
    }

    .right-menu li {
        padding-left: 15px;
        margin: 5px;
    }

    .main-footer {
        position: relative;
        justify-content:left;
        align-items: baseline;
    }

    .support {
        margin-left: 40px;
    }

}