*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    background-image: url('/images/fondo.jpg'); 
} 

/* header */
a{
    color: none;
    text-decoration: none;
}
/* header{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
} */
.div-titulo{
    background: #1F4489;
    height: 3cm;
    border-radius: 0 0 1cm 1cm;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    animation: aparecer 3s  ;

}

.logo{
    /* padding-top: 20px; */
    width: 250px;
    animation: agrandar 0.5s linear  infinite alternate ;
}

@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.logo:hover{
    border: solid 2px #FCC139;
    transform: scale(1.08);
    transition: 0.3s;
    animation-direction: alternate-reverse;
}
@keyframes agrandar {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}
.menu-derecha{
    display: flex;
    justify-content: space-around;
}
.menu-derecha h3:hover{
    transform: scale(1.1);
    transition: all 0.5s;
    border: solid 2px #FCC139;

}
.menu-derecha h3{
    padding: 0 10px;
    color: #FCC139;
    margin: 0%;
}

/* main */
.div-registro{

    background: #696464;
    max-width: 425px;
    border-radius: 20px;
    margin: 4cm auto;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 80%;
    position: relative;
}
.registrate{
    padding-top: 30px;
    font-size: 25px;
    color: white;
    text-align: center;
}
.form-registro input{
    background: black;
    padding: 10px;
    border-radius: 10px;
    color: white;
    width: 5cm;
}
.form-registro article:hover input{
    border: #FCC139 solid 2px;
}

article{
    margin: 15px;
    text-align: center;
    padding: 8px;
}
.form-registro label{
    color: white;
    text-align: left;
}
.verificador,.feedback{
    color: orange;
    opacity: 1;
    margin-bottom: 20px;
    position: absolute;
    left: 30%;
    padding-bottom: 1cm;
    font-size: 12px;
}
.iconos-foto-google{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.iconos-foto-google p{
    margin: 0;
    padding: 0px;
    color: white;
}
.div-subir-foto{
    display: flex;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.image-upload>input {
    display: none;
  }

.fa-user{
    position: relative;
    z-index: 10;
    color: white;
    padding: 8px;
    border: white solid 2px;
    border-radius: 1cm;
    font-size: 15px;
    opacity: 0.5;
    size:70%;
}
.div-subir-foto:hover .fa-user {
    opacity: 1;
}
.div-google{
    padding: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 1cm;
    margin: 8px 0;
}
.div-google:hover{
    border: rgba(255, 0, 0, 1) solid 2px;
}
.fa-google{
    padding: 8px;
    border: white solid 2px;
    border-radius: 1cm;
    font-size: 20px;
    color: white;
    opacity: 0.5;
}
.logo-google{
    width: 1cm;
    border-radius: 0.5cm;
}
.label-form{
    position: absolute;
    left: 20%;
}


.div-boton-crear-cuenta{
    text-align: center;
}
.div-ingresar{
    text-align: center;
}

    #crear-cuenta{
        color: white;
        background: #000;
        padding: 10px;
        font-size: 18px;
        border-radius: 1cm;
        border: #1F4489 3px solid;
        width: 65%;

    }

    #ingresar{
        background: #000;
        margin: 10px;
        border: #1F4489 3px solid;
        position: relative;
        display: inline-block;
        padding: 15px 30px;
        color: white;
        font-size: 18px;
        text-decoration: none;
        transition: 0.2s;
        background-color: black;
        border-radius: 10px;
        width: 60%;
    }

    #ingresar:hover, #crear-cuenta:hover{
        background-color: var(--yellow);
        box-shadow: 0 0 10px #FCC139, 0 0 40px #FCC139, 0 0 80px #FCC139;
    }

    .div-registro:hover{
        box-shadow: 5px 5px 10px rgb(180, 174, 174);

    }

/* footer */

    .main-footer {
        display: flex;
        justify-content: space-evenly;
        height: 70px;
        width: 100%;
        color: rgb(3,6,67);
        font-weight: 600;
        background-color: rgb(252,193,57);
        align-items: baseline;
    }

    .main-footer li {
        padding-top:5px;
        list-style: none;
        font-size: 14px;
        filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    }

    .footer-icons{
        color: inherit;
        padding-right: 5px;
        font-size:16px;
    }


/* = = = = = MEDIA QUERIES = = = = = */

@media (min-width: 500px) {

    .top-bar i{
        color:azure;
        font-size: 28px;
    }  

    .main-footer {
        position: relative;
        justify-content:left;
        align-items: baseline;
    }

    .right-links {
        position: absolute;
        right: 30px;
    }

    .help {
        margin-left: 30px;
    }
    
    .support {
        margin-left: 30px;
    }

    .terms ,.contactus {
        margin-left: 40px;
    }
    
    .followus {
        padding-right: 10px;
    }

}

@media (min-width: 769px) {

    .middle-logo img{
        width: 30vw;
    }

    .left-menu-button{
        display: none;
    }

    .right-menu-buttons{
        display: none;
    }

    .left-menu{
        display: flex;
    }

    .right-menu{
        display: flex;
    }

    .user-options {
        display: flex;
    }

    .left-menu li{
        padding-top:10px;
        color:azure;
        font-weight: 400;
        list-style: none;
        font-size: 16px;
        filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    }

    .right-menu li{
        padding-top:10px;
        padding-left:10px;
        color:azure;
        font-weight: 400;
        list-style: none;
        font-size: 16px;
        filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    } 

    .user-options li {
        align-items: center;
    }

    .main-footer li {
        font-size: 16px;
    }
}

@media (min-width: 900px) {

    ul > li {
        display: inline-block;
    }

    .left-menu li {
        padding-left: 15px;
        margin: 5px;
    }

    .right-menu li {
        padding-left: 15px;
        margin: 5px;
    }

    .main-footer {
        position: relative;
        justify-content:left;
        align-items: baseline;
    }

    .support {
        margin-left: 40px;
    }

}