/*  style estilo del formulario*/

.all-form {
    z-index: 10;
    position: relative;
    /* bottom: 400px; */
    padding: 0 5%;
}

.form-banner img {
    width: 100%;
    height: 420px;
}

/* .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    border-radius: 10px;
} */

.all-form h1 {
    color: white;
    text-align: center;
    padding: 20px ;


}
.input-id{
  display: none;
}
/* .center form {
    padding: 0 40px;
    box-sizing: border-box;
} */

.form-ingreso-peli{
  display: flex;
  flex-wrap: wrap;
}

form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px auto;
    max-width: 400px;
    min-width: 300px;
}

.txt_field input {
    width: 100%;
    /* max-width: 400px; */
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: white;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .9s;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--blue);
    transition: .9s;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
    top: -5px;
    color: var(--blue);
}

.txt_field input:focus~span::before,
.txt_field input:valid~span::before {
    width: 100%;
}

.pass {
    
    color: #a6a6a6;
    cursor: pointer;
    transition: 0.5s;
    margin: 20px;
    border-radius: 30px;
}

.pass:hover {
  color: orange;
    border: orange solid 2px;
    transform: scale(1.01);
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 2px solid var(--platinum);
    background: var(--blue);
    border-radius: 25px;
    font-size: 18px;
    color: var(--platinum);
    font-weight: 700;
    outline: none;

}

input[type="submit"]:hover {
    border-color: var(--blue);
    transition: .5s;
}

.signup_link {
    margin: 30px auto;
    text-align: center;
    font-size: 16px;
    color: #666666;
    align-self: center;
}

.signup_link a {
    color: var(--blue);
    text-decoration: none;
}

.signup_link a {
    text-decoration: underline;
}


/* on/off */
.switch-holder {
    margin: auto;
    width: 6cm;
    /* min-width: 4cm; */
    display: flex;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(234, 225, 225, 0.7),
          10px 10px 10px rgba(0, 0, 0, .2),
          inset 8px 8px 15px rgba(15, 52, 173, 0.7),
          inset 10px 10px 10px rgba(72, 126, 220, 0.2);
    justify-content: space-between;
    align-items: center;
  }
  
  .switch-label {
    padding: 0 20px 0 10px;
    color:white
  }
  
  .switch-label i {
    margin-right: 5px;
  }
  
  .switch-toggle {
    height: 40px;
  }
  
  .switch-toggle input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -2;
  }
  
  .switch-toggle input[type="checkbox"]+label {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin: 0;
    cursor: pointer;
    box-shadow: inset -8px -8px 15px rgba(255, 255, 255, .6),
          inset 10px 10px 10px rgba(0, 0, 0, .25);
  }
  
  .switch-toggle input[type="checkbox"]+label::before {
    position: absolute;
    content: 'No';
    font-size: 13px;
    text-align: center;
    line-height: 25px;
    top: 8px;
    left: 8px;
    width: 45px;
    height: 25px;
    border-radius: 20px;
    background-color: #eeeeee;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, .5),
          3px 3px 5px rgba(0, 0, 0, .25);
    transition: .3s ease-in-out;
  }
  
  .switch-toggle input[type="checkbox"]:checked+label::before {
    left: 50%;
    content: 'Si';
    color: #fff;
    background-color: #00b33c;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, .5),
          3px 3px 5px #00b33c;
  }
  /* /on/off */


  .select{
    margin-left: 2cm;
    cursor: pointer;
  }

.label-calificacion{
    color: white;
    text-align: center;
}

  /* estrellas */
  
  /* .form-estrellas {
    width: 250px;
    height: 50px;
    text-align: center;
  }
  
  .form-estrellas p {
    text-align: center;
  }
  
  .form-estrellas label {
    font-size: 60px;
    
  }
  .label-estrella{
    color: rgb(180, 164, 164);
    font-size: 30px;
  }
  input[type="radio"] {
    display: none;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  .form-estrellas label:hover,
   label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  } */
  /* fin estrellas */



  /* subir foto */

.image-upload>input {
  display: none;
}

.div-subir-foto i{
  position: relative;
  z-index: 10;
  color: white;
  padding: 8px;
  margin: 5px;
  border: white solid 2px;
  border-radius: 1cm;
  font-size: 20px;
  /* opacity: 0.5; */
  size:70%;
}
.div-subir-foto{
  display: flex;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
}
.div-subir-foto p{
  margin: auto;
}

/* checkbocks de generos e idiomas */
.lista-check{
  color: white;
  margin: 10px;
}