body{
    margin: 0px;
}

.div-titulo{
    background: #1F4489;
    height: 3cm;
    border-radius: 0 0 1cm 1cm;
}

h1{
    text-align: center;
    color: #FCC139;
    margin: 0px;
    padding-top: 20px;
    font-size: 40px;
}

.div-registro{
    background: #696464;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: 30px;
}
.registrate{
    font-size: 25px;
    color: white;
}
.form-registro input{
    background: black;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
.form-registro label{
    color: white;
}
.verificador{
    color: orange;
    opacity: 1;
    margin: 0 0 20px 0;
}
.iconos-foto-google{
    display: flex;
}
.iconos-foto-google p{
    margin: 0;
    color: white;
}
.div-subir-foto{
padding: 10px;
}
.div-google{
    padding: 10px;

}
.fa-user,.fa-google{
    padding: 8px;
    border: white solid 2px;
    border-radius: 1cm;
    font-size: 25px;
}
#crear-cuenta{
    color: white;
    background: #000;
    padding: 10px;
    font-size: 30px;
    border-radius: 1cm;
}

footer nav{
    background: #1F4489;
    color: #FCC139;
    display: flex;
}
.nav-footer-izq{
    display: flex;
    flex-wrap: wrap;
    margin: 0%;
    padding: 0;
}

.nav-footer-derecha{
    display: flex;
    margin: 0;
    padding: 0;
}
.nav-footer-derecha li{
    padding: 10px;
    
}
li{
    list-style:none;
    padding: 5px;
    margin: auto;
}
footer nav i{
    padding: 3px;
    margin: auto;
}