:root{
    --yellow: rgba(252, 193, 57, 1);
    --light-blue: rgba(31, 68, 137, 1);
    --light-gray: rgba(105, 100, 100, 0.59);
    --light-black: rgba(15, 14, 14, 0.88);
    --dark-blue: rgba(3, 6, 67, 1);
    --white: rgba(255, 255, 255, 1);
    --base-font-family: 'Roboto', sans-serif;

}


body{
    background-color: white;
    background-image: url("/images/fondo.jpg.jpg");
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
}

main{
    background-color: rgba(3, 4, 26, 1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
}

header{
    background-color: var(--dark-blue);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

footer{
    background-color: var(--yellow);
    margin-bottom: 0%;
    width: 100%;
    
}

/*header*/
.logo{
    width: 30vw; 
}
.iconos1 i{
    color: var(--yellow);
    font-size: 2vw;
    padding: 1vw;
}


 /*main*/

 .titulos{
    text-align: left;
    padding: 2vw;
    font-size: 2vw;
    color: var(--white);
    font-weight: 600;
    margin-left: 2vw
    
    }

 .pelis{
    width: 60%;
    height: 70%;
    border-radius: 5%;
    box-shadow: 7px 7px 7px 7px rgba(11, 7, 7, 0.59); ;
 }

.nombre-peli{
    font-size: 1vw;
    color: var(--light-gray);
    font-weight: 600;
    text-align: center;

}

 .btn-neon{
    position: relative;
    display: inline-block;
    padding: 4% 6%;
    color: white;
    font-size: 150%;
    text-decoration: none;
    transition: 0.2s;
    background-color: black;
    border-radius: 10px;
}

.btn-neon:hover{
    background-color: var(--yellow);
    box-shadow: 0 0 10px #FCC139, 0 0 40px #FCC139, 0 0 80px #FCC139;
}

 .caja{
    text-align: center;
 }
 .articulos{
    display: flex;
    justify-content: space-around;
    padding-bottom: 5%;
    
 }
 .articulos2{
    width: 30%;
    text-align: center;
  }

 .personajes{
    display: flex;
    justify-content: space-around;
    padding-bottom: 5%;
 }
 .personas{
    width: 15vw;
    height: 33vh;
   border-radius: 50%;
 }
.nombres{
    color: white;
    text-align: center;
    font-size: 1vw;
    font-weight: 500;
}



 /*section*/

 .frase{
    width: 100vw;
    height: 20vh;
    color: white;
    font-size: 4vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:  rgba(3, 6, 67, 0.49);
    padding-top: 3vh;
 }



/*footer*/
.listaA{  /* llamo al bloque de la lista*/
    display: inline-block;
    text-align: left;
    font-size: 160%;
   font-weight: 700;
}
.listaB{   /* llamo al bloque de la lista*/
    display: inline-block;
    text-align: right;
    font-size: 180%;
    margin-left: 43%;
    font-weight: 700;
    
}
.lista2{   /* llamo a los elementos de la lista*/
    display: inline-block;
    color: var(--light-blue);
    
}
.barra3{     /* modifico los links de la lista*/
    text-decoration: none;
    color: var(--light-blue);
}
.iconos{  /* modifico los links de la lista de iconos*/
    display: inline-block;
    color: var(--light-blue);
   
}

.iconos i{   /* modifico el icono en si*/
    font-size: 2vw;
    
}
