*{
    color: rgb(249, 240, 240);
    text-align: center;

}

.div-img{
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;

}

.div-img img{
    width: 100%;
    border-radius: 5%;
}

h1{
    padding-top: 40px;
    padding-bottom: 40px;
    text-decoration: underline;
    text-decoration-color: var(--yellow);
}


a  {
    font-size: 18px;
}

h2.button{
    border-radius: 15px;
    background-color: var(--yellow);
    height: 60px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.save-button {
    border-radius: 15px;
    background-color: var(--yellow);
    border-color: rgb(252,193,57);
    height: 60px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    margin-bottom: 8px;
    padding: 0px 0px 0px 0px;
}

.save-button:hover{
    transform: scale(1.05);
    transition: 100ms;
}

.delete-button {
    border-radius: 15px;
    background-color: var(--yellow);
    border-color: rgb(252,193,57);
    height: 60px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    margin-bottom: 8px;
    padding: 0px 0px 0px 0px;
}

.delete-button:hover{
    color:red;
    transform: scale(1.05);
    transition: 100ms;
}

.boton-guardar{ 
    border-radius: 15px;
    background-color: var(--yellow) !important;
    height: 60px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    border-color: greenyellow;
    transition: 1s;
}
.boton-guardar:hover{
    transform: scale(1.1);
}
h3, label{
    font-size: 22px;
    text-align: left;
    margin: 10px 10px;
    text-decoration: underline;
    text-decoration-color: var(--yellow);
}

label{
    width: 150px;
    text-align: left;
}


p{
    margin: 10px;
    align-items: center;
    font-size: 22px;
    font-style: italic;
}

.botones{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
}

.section-lista-usuarios{
    border: 1px solid white;
    border-radius: 10px;
    width: 80%;
    margin: 50px auto;
    padding: 5% 10%;
    color: white;
    background-color:rgba(1, 35, 83, 0.87);}

div.info-perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.section-editar-user{
    margin: auto;
}
form input{
    color: blue;
    margin: 8px; 
    padding: 5px;
    width: 300px;
    border-radius: 5px;
    border: 2px solid black;

}
form button{
    text-align: center;
    color: black; 
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    border: 2px solid blueviolet;
    cursor: pointer;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    border: 10px rgba(31,68,137,1) solid;
    border-radius: 20px;
    padding: 20px;
}

.div-subir-foto{
    display: flex;
    padding: 10px;
    text-align: center;
    align-items: center;
    cursor: pointer;

}

.iconos-foto-google p{
    margin: 0;
    padding: 0px;
    color: white;
}

#id_favorite_genre{
    color: black;
}

.image-upload>input {
    display: none;
  }

@media (min-width: 900px) {

    section{
        width: 20cm;
        padding: 35px 100px;
    }
}