*{
    color: rgb(249, 240, 240);
    text-align: center;
}

.div-img{
    width: 200px;
    margin: auto;
    border: 5px solid salmon;
}
.div-img img{
    width: 100%;
    border-radius: 20%;
}

h2{
    padding-top: 40px;
}

section{
    border: 1px solid white;
    border-radius: 10px;
    width: 16cm;
    margin: 50px auto;
    padding: 20px;
    color: white;
    text-align: center;
}

form input{
    color: blue;
    margin: 8px auto; 
    padding: 5px;
    width: 300px;
    border-radius: 5px;
    border: 2px solid blueviolet;

}
form button{
    color: black;
    margin: 8px auto; 
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    border: 2px solid blueviolet;
    cursor: pointer;
}
form{
    width: 80%;
    margin: 50px auto;
    border: 10px blueviolet solid;
    border-radius: 20px;
    padding: 20px;
}